
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>


<div class="investigation-block">
    <div class="investigation-left">
        <p class="investigation-date">@Model.Date</p>
        <p class="investigation-date">@Model.Location</p>
        <p>@Model.Status</p>
    </div>
    <div class="container">@Model.HazardType</div>
</div>


<div class="flex">
    <div class="row">
        <div class="col"> <img src="@Model.ImageLocation" alt="Alternate Text" /></div>
    </div>
    <div class="col">@Model.Description   <div>@Model.Likes </div>   </div>
</div>


<div class="user-details">

    <div class="reporter-details text-center">
        <h5 class="display-4">Created By</h5>
        <div> <img src="#" alt="Alternate Text" /> </div>
        <div>

            <h3 class="username">@Model.Reporter.Username</h3>
            <h3>@Model.Reporter.Email</h3>


        </div>

    </div>


</div>