@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div class="investigation-block">
    <div class="investigation-left">
      
        <p class="investigation-date">@Model.Date</p>
    </div>
    <div class="investigation-right">
        <div class="investigation-details">
            <p class="investigation-description">@Model.Location</p>
     
        </div>
        <div class="investigation-status">
            <p>@Model.Status</p>
        </div>

    </div>
</div>
<div class="user-details">

    <div class="reporter-details">
        <img src="#" alt="Alternate Text" />
        <h3 class="username">@Model.</h3>
        <p class="details">@Model.Reporter.ActiveReports</p>
        <p class="details">@Model.Reporter.HandledReports</p>
    </div>
    <div class="investigator-details">
        <img src="#" alt="Alternate Text" />
        <h3 class="username">@Model.Investigator.Username</h3>
        <p class="details">@Model.Investigator.ActiveInvestigations</p>
        <p class="details">@(Model.Investigator.TotalInvestigations - Model.Investigator.ActiveInvestigations)</p>
    </div>

</div>