@model Nemesys.ViewModels.ReportViewModel

<div class="report-card border">
    <h1 class="text-center megrim">  Edit Report</h1>

    <form asp-action="Edit" method="post" role="form" enctype="multipart/form-data">



            
            <div class="form-group">
                <label asp-for="Title" class="col-md-2 wordseperate"></label>
                <div class="col-md-12">
                    <input asp-for="Title" class="form-control" value="@Model.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 wordseperate"></label>
                <div class="col-md-12">
                    <textarea asp-for="Description" class="form-control addheight">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            @*
        
            *@

            @*<div class="form-group">
                <label asp-for="Location" class="col-md-2 wordseperate"></label>
                <div class="col-md-12">
                    <textarea asp-for="Location" class="form-control">@Model.Location</textarea>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>*@

            @*
   
            *@
            <div class="form-group">
                <label asp-for="HazardType" class="col-md-2 wordseperate"></label>
                <div class="col-md-12">


                    <span asp-validation-for="HazardType" class="text-danger"></span>

                    <select asp-for="HazardType" class="form-control w-100" text="@Model.HazardType" value="@Model.HazardType">
                        <option value="Dangerous">Dangerous</option>
                        <option value="Fair">Fair</option>
                        <option value="Minimal">Minimal</option>

                    </select>


                    <br />

                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="col-md-2 wordseperate"></label>
                <div class="col-md-12">


                    <select asp-for="Location" class="form-control w-100" text="@Model.Location" value="@Model.Location">
                        <option value="Qawra">Qawra</option>
                        <option value="Sliema">Sliema</option>
                        <option value="Mosta">Mosta</option>
                        <option value="Bormla">Bormla</option>
                        <option value="Valletta">Valletta</option>
                        <option value="Hamrun">Hamrun</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" class="btn btn-outline-dark" value="Edit Report" />
                    <a asp-controller="Report" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </div>
        </form>
</div>