@{
    ViewData["Title"] = "Hall Of Fame";
    int count = 1;
}

<div>
<h1 class="text-center p-2 megrim">@ViewData["Title"]</h1>
@foreach (Reporter reporter in Model)
{
<div class="report-card mt-1">
    <div class="container row">
        <div class="col-sm-12 col-md-2 justify-content-center">
            <h5 class="star megrim">RANK @count</h5>
        </div>
        <div class="col-md-8 col-sm-12">
            <h4 class="col-sm-12 text-center megrim">@reporter.User.UserName</h4>
            <div class="d-md-flex d-sm-block justify-content-around">
                <div class="report-card p-2 m-1 col-sm-8 col-md-4">
                    <h4>@reporter.HandledReports</h4>
                    <p>Handled Reports</p>
                </div>
                <div class="report-card p-2 m-1  col-sm-8 col-md-4">
                    <h4>@reporter.ActiveReports</h4>
                    <p>Active Reports</p>
                </div>
                <div class="report-card p-2 m-1  col-sm-8 col-md-4">
                    <h4>@reporter.PendingReports</h4>
                    <p>Pending Reports</p>
                </div>
            </div>
        </div>

    </div>
    
</div>
    count++;
}

</div>