
@{
    ViewData["Title"] = "Details";
}
    <div class="report-card border">

        <div class="row border-bottom text-center pb-3">
            <div class="col-sm-12">
                <p>@Model.Report.Status</p>
            </div>
        </div>


        <div class="row text-center">
            <h1 class="mb-5 mt-3 col-sm-12 megrim">@Model.Report.Title</h1>
        </div>


        <div class="row border-bottom">



            <div class="col-sm-4 col-xs-12">
                <div class="border-right report-image investigation-image"> <img src="@Model.Report.ImageLocation" class="report-image investigation-image" alt="Alternate Text" asp-append-version="true" /></div>
                <p class="investigation-date">@Model.StartDate</p>
            </div>

            <div class="col-sm-8 col-xs-12">
                <div class="investigation-details">
                    <p class="investigation-description">@Model.Report.Description</p>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-sm-5 mb-sm-5">
                <button class="btn btn-outline-dark">Investigate</button>
            </div>
        </div>



        <div class="row border-bottom">
            <div class="reporter-details col-sm-6 signin-card">

               
                <p class="username h5">Reporter<br /><span class="font-italic h6">@Model.Reporter.User.UserName</span> </p>
                <p class="details">Active reports: @Model.Reporter.ActiveReports</p>
                <p class="details">Handled reports: @Model.Reporter.HandledReports</p>

            </div>

            <div class="investigator-details col-sm-6 signin-card">
              
                <p class="username h5">Investigator<br /><span class="font-italic h6">  @Model.Investigator.User.UserName</span> </p>
                <p class="details">Active Investigations: @Model.Investigator.ActiveInvestigations</p>
                <p class="details">Pending Investigations: @(Model.Investigator.TotalInvestigations - Model.Investigator.ActiveInvestigations)</p>
            </div>

        </div>
    </div>