
@model Nemesys.ViewModels.InvestigationViewModel
@using Microsoft.AspNetCore.Identity
@using Nemesys.Areas.Identity.Data
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject NemesysDBContext _context
@{
    ViewData["Title"] = "Investigations";
    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    Admin admin = _context.Admin.SingleOrDefault(c => c.User.Id == userId);

}

<div class="container">
    <p class="text-center h2  mb-5 megrim">I N V E S T I G A T I O N S</p>

    <div class="row text-center border-bottom pb-4">
        <div class="col-md-3 d-sm-none d-md-inline"></div>
        <div class="col-sm-12  col-md-6   text-center searchbar mb-4">
            <form asp-action="Index" method="post" role="form" enctype="multipart/form-data" class="form-inline justify-content-center ">

                <input class="form-control-sm ml-4" type="text" placeholder="Search" aria-label="Search" asp-route-searchS="Index" asp-for="SearchS"></input>
                <button type="submit" class="btn btn-link"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </div>

    </div>
    </div>
    @foreach (Investigation investigation in Model.Investigation)
    {

        <div class="report-card mt-3 mb-2">
            <div class="container row">
                <div class="col-sm-4 col-xs-12">
                    <h4>@investigation.Report.Title</h4>
                    <p class="investigation-date">@investigation.StartDate</p>
                </div>


                <div class="col-sm-8 col-xs-12">

                    <div class="investigation-detail limited-height">
                        <p class="investigation-description">@investigation.Report.Description</p>
                    </div>

                 </div>
                </div>
            <div class="row text-center pt-5">
                <span class="col-2 "></span>
                @if (investigation.Investigator.User.Id == userId || admin != null)
                {
                    <a class="btn btn-outline-success col-md-4" asp-area="" asp-controller="Investigation" asp-action="Delete" asp-route-id="@investigation.Id">Mark as complete</a>
                }

                <a class=" col-md-4 btn btn-outline-dark details-cta details-cta " asp-area="" asp-controller="Investigation" asp-action="Details" asp-route-id="@investigation.Id">View Details</a>
                <span class="col-2"></span>
            </div>
            <div class="row border-top text-center">
                <div class="col-sm-12 pt-4 mt-3"><p class="status">@investigation.Report.Status</p></div>
            </div>

        </div>
    }



</div>



